<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>universal rendering</title>
</head>
<body>
<div id="root">
  <%- html %>
</div>
<h2>from ejs</h2>
<script src="bundle.js"></script>
</body>
</html>